* {
    box-sizing: border-box;
    line-height: 1.5;
    margin: 0;
}

body {
    color: #3c3836;
    font-size: 1.2rem;
    background-color: #ebdbb2;
    font-weight: 300;
    font-family: sans-serif;
}

.container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    max-width: 640px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 50px;
}

.header {
    margin: 20px;
    text-align: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview {
    max-width: 300px;
    height: auto;
    transition: transform 0.5s ease-out;
}

.preview:hover {
    transform: scale(1.2);
}

#detail {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#specs {
    padding: 20px;
    border-radius: 25px;
    border: 2px solid black;
}

#specs td:first-child {
    font-weight: 600;
}

#tombol {
    background-color: #665c54;
    padding: 7px 25px;
    color:  #fbf1c7;
    border: 2px solid #504945;
    border-radius: 7px;
}

#tombol:hover {
    background-color: #cc241d;
}

footer {
    padding: 22px 100px;
    color: white;
    background-color: #3c3836;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
